* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&family=Rubik+Pixels&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
}
h1,h2,p {
  margin: 1.6rem 0;
}
h1 {
  font-weight: 800;
  font-size: 3.6rem;
  
}
h2 {
  font-weight: 800;
  font-size:2.4rem ;
 
}
p {
  font-weight: 400;
  font-size: 1.8rem;
  
}
img {
width: 100%;
height: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: auto;
}
section {
  padding: 100px 0;
}
/* Hero section */
header {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6)) , url('../images/office.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}
.logo h1 {
  font-size: 3.2rem;
  color: #4CAF50;
  margin: 0;
}
nav {
  padding: 2% 8%;
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;

}
nav box-icon {
  display: none;
}
nav ul li {
  display: inline-block;
  margin-left: 2.5rem;
}
nav ul li a:hover {
  color: #4CAF50;
  transition: 0.5s ease-in-out;

  
}
.header-content {
  width: 50%;
  position: relative;
  top: 16%;
  left: 8%;

}
form {
  margin: 2.4rem 0;
}
input {
  font-size: 1.8rem;
}
input[type=text],
input[type=email]{

  width:50%;
  padding: 12px 20px;
  margin: 1.2rem;
  display: block;
  border: 1px solid #ccc;
}
input[type=submit]{
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
input::placeholder {
  font-size: 1.8rem;
  color: #ccc;
  
}
.about-left,
.about-middle,
.about-right {
  flex-basis: 30%;
  padding: 1.6rem 0;
}
.btn {
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px){
 nav {
  flex-direction: column;
  position: relative;
 }
 nav box-icon {
  display: block;
  position: absolute;
  top: 18px;
  right: 32px;
 }
 nav ul {
  background-color: whitesmoke;
  /* display: none; */
 }
 .showmenu {
   display: block;
}
nav ul li {
  padding: 2% 0;
}
nav ul a {
  color: #222;
}
}
  
